<a href="https://colab.research.google.com/github/Shana54321/DS4A_Team145/blob/main/Team_145_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
yfd = pd.read_csv('/content/drive/MyDrive/Team 145/cleaned_Yahoo_Finance_Detail.csv')
yfd['id'] = yfd['id'].fillna (11)
yfd =yfd.astype({'quotesymbol': str,'company_name': str,'date': str,'open': float,'high': float,'low': float,'close': float,'adj _close': float,'volume': int,'id': int})
yfd['date']=pd.to_datetime(yfd['date'])

In [69]:
"""Twitter_data"""
#comcast data with label for sentiment 0,1,2
comcast_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/comcast/tw_merged_df_labels.csv')
#dataframe without label-Tolu will append sentiment 0,1,2
wendys_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/wendys/tw_merged_df.csv')
walmart_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/walmart/tw_merged_df.csv')
uber_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/uber/tw_merged_df.csv')
starbucks_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/starbuck/tw_merged_df.csv')
Pepsi_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/pepsi/tw_merged_df.csv')
PapaJohns_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/papajohns/tw_merged_df.csv')
GM_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/GM/tw_merged_df.csv')
Kellogs_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/kellogs/tw_merged_df.csv')
Netflix_twitter=pd.read_csv('/content/drive/MyDrive/Team 145/Netflix/tw_merged_df.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [161]:
GM_twitter.head()

      author id                 created_at  geo  ...  neu  pos  compound
0  1.247797e+09  2016-01-30 23:59:35+00:00  NaN  ...  1.0  0.0       0.0
1  3.085901e+09  2016-01-30 23:30:19+00:00  NaN  ...  1.0  0.0       0.0
2  6.188406e+08  2016-01-30 23:15:06+00:00  NaN  ...  1.0  0.0       0.0
3  6.063417e+08  2016-01-30 23:04:08+00:00  NaN  ...  1.0  0.0       0.0
4  4.794903e+09  2016-01-30 21:56:57+00:00  NaN  ...  1.0  0.0       0.0

[5 rows x 21 columns]

In [162]:
from sklearn.preprocessing import LabelEncoder
cols = ["sentiment"]
lbl = LabelEncoder()
pred_lbl=lbl.fit_transform(GM_twitter[cols])
mappings = {index: label for index, label in enumerate(lbl.classes_)}
mappings
GM_twitter["sentiment_label"]=pred_lbl

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [164]:
GM_twitter.head()

      author id                 created_at  geo  ...  pos compound  sentiment_label
0  1.247797e+09  2016-01-30 23:59:35+00:00  NaN  ...  0.0      0.0                1
1  3.085901e+09  2016-01-30 23:30:19+00:00  NaN  ...  0.0      0.0                1
2  6.188406e+08  2016-01-30 23:15:06+00:00  NaN  ...  0.0      0.0                1
3  6.063417e+08  2016-01-30 23:04:08+00:00  NaN  ...  0.0      0.0                1
4  4.794903e+09  2016-01-30 21:56:57+00:00  NaN  ...  0.0      0.0                1

[5 rows x 22 columns]

In [ ]:
df=yfd.copy()
df
df.set_index('date',drop = True, append = False).resample('D') 
df["VolStat"] = (df["high"] - df["low"]) / df["open"] #A measure of volatility
df['quotesymbol'].unique()

array(['^VIX', 'RMS.PA', 'GOOS', 'W', 'FB', 'TGT', 'TM', 'BCS', 'K',
       'AMZN', 'HD', 'WEN', 'PEP', 'SBUX', 'PZZA', 'CMCSA', 'NFLX', 'WMT',
       'GM', 'UBER'], dtype=object)

In [86]:
df2 = comcast_twitter.copy()
df2.head()

      author id                 created_at  ...  compound  sentiment_label
0  1.502146e+09  2016-01-30 23:58:36+00:00  ...    0.3612                2
1  3.232153e+09  2016-01-30 23:58:16+00:00  ...   -0.7096                0
2  1.382550e+09  2016-01-30 23:57:26+00:00  ...    0.2023                2
3  2.086465e+08  2016-01-30 23:56:28+00:00  ...    0.4215                2
4  1.155615e+09  2016-01-30 23:54:46+00:00  ...    0.0000                1

[5 rows x 22 columns]

In [124]:
import datetime as dt
df3=df2[['author id','created_at','sentiment']]
df3['created_at']=pd.to_datetime(df3['created_at']).dt.date
df3.head(100000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          author id  created_at sentiment
0      1.502146e+09  2016-01-30  positive
1      3.232153e+09  2016-01-30  negative
2      1.382550e+09  2016-01-30  positive
3      2.086465e+08  2016-01-30  positive
4      1.155615e+09  2016-01-30   neutral
...             ...         ...       ...
30960  1.071978e+08  2021-05-30  negative
30961  2.738551e+07  2021-05-30  positive
30962  3.618262e+08  2021-05-30  positive
30963  4.603426e+07  2021-05-30  negative
30964  7.940000e+17  2021-05-30  positive

[30965 rows x 3 columns]

In [153]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30965 entries, 0 to 30964
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   author id   30965 non-null  float64
 1   created_at  30965 non-null  object
 2   sentiment   30965 non-null  object
dtypes: float64(1), object(2)
memory usage: 725.9+ KB

In [125]:
df4= df3.groupby(['created_at','sentiment']).nunique()
df4.head(1000000)

                      author id
created_at sentiment
2016-01-30 negative         170
           neutral          116
           positive         139
2016-02-27 negative         132
           neutral          149
...                         ...
2021-04-29 neutral          100
           positive         192
2021-05-30 negative          97
           neutral           96
           positive         210

[189 rows x 1 columns]

In [142]:
com_twt= df4.pivot_table(index=['created_at'],columns=['sentiment'],values='author id')
com_twt =com_twt.reset_index()
com_twt =com_twt.rename(columns ={'created_at':'date'})
com_twt["id"] =1
com_twt.head(10000)

sentiment        date  negative  neutral  positive  id
0          2016-01-30       170      116       139   1
1          2016-02-27       132      149       150   1
2          2016-03-30       124      112       182   1
3          2016-04-29       132      152       185   1
4          2016-05-30       154      148       144   1
..                ...       ...      ...       ...  ..
58         2021-01-30       173       61       156   1
59         2021-02-27       114       83       171   1
60         2021-03-30        98      121       188   1
61         2021-04-29        98      100       192   1
62         2021-05-30        97       96       210   1

[63 rows x 5 columns]

In [171]:
WEN =df[df['quotesymbol']=='WEN']
PEP=df[df['quotesymbol']=='PEP']
SBUX=df[df['quotesymbol']=='SBUX']
PZZA=df[df['quotesymbol']=='PZZA']
CMCSA=df[df['quotesymbol']=='CMCSA']
NFLX=df[df['quotesymbol']=='NFLX']
WMT=df[df['quotesymbol']=='WMT']
GMf=df[df['quotesymbol']=='GM']
UBER=df[df['quotesymbol']=='UBER']

In [77]:
df1 =CMCSA.copy()

In [78]:
df1.head()

      quotesymbol  company_name       date  ...  volume  id   VolStat
62555       CMCSA  COMCAST CORP 2002-05-23  ...  926400   1  0.027619
62556       CMCSA  COMCAST CORP 2002-05-24  ...  417000   1  0.020013
62557       CMCSA  COMCAST CORP 2002-05-28  ...  597900   1  0.036317
62558       CMCSA  COMCAST CORP 2002-05-29  ...  543900   1  0.036586
62559       CMCSA  COMCAST CORP 2002-05-30  ...  660600   1  0.023232

[5 rows x 11 columns]

In [147]:
com_stk = df1[['date','adj _close','volume', 'VolStat']]
com_stk["id"] = 1
com_stk['date']= pd.to_datetime(com_stk['date']).dt.date
com_stk.head(1000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             date  adj _close    volume   VolStat  id
62555  2002-05-23      8.3515    926400  0.027619   1
62556  2002-05-24      8.2289    417000  0.020013   1
62557  2002-05-28      8.0047    597900  0.036317   1
62558  2002-05-29      7.7700    543900  0.036586   1
62559  2002-05-30      7.7909    660600  0.023232   1
...           ...         ...       ...       ...  ..
63550  2006-05-05      8.0255  23810400  0.015358   1
63551  2006-05-08      8.0985  24978900  0.021533   1
63552  2006-05-09      8.2315  31998000  0.027045   1
63553  2006-05-10      8.4140  50904900  0.029791   1
63554  2006-05-11      8.3228  37785300  0.010306   1

[1000 rows x 5 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          author id  created_at sentiment
0      1.502146e+09  2016-01-30  positive
1      3.232153e+09  2016-01-30  negative
2      1.382550e+09  2016-01-30  positive
3      2.086465e+08  2016-01-30  positive
4      1.155615e+09  2016-01-30   neutral
...             ...         ...       ...
30960  1.071978e+08  2021-05-30  negative
30961  2.738551e+07  2021-05-30  positive
30962  3.618262e+08  2021-05-30  positive
30963  4.603426e+07  2021-05-30  negative
30964  7.940000e+17  2021-05-30  positive

[30965 rows x 3 columns]

In [160]:
cmcast_fin =pd.merge(com_stk, com_twt, how ='left', on=['id','date'])
cmcast_fin.sample(23)

            date  adj _close    volume  ...  negative  neutral  positive
3362  2015-09-30     25.4670  24205400  ...       NaN      NaN       NaN
2505  2012-05-03     12.8387  26913600  ...       NaN      NaN       NaN
1699  2009-02-23      5.0316  51067600  ...       NaN      NaN       NaN
149   2002-12-24      6.2499   5997000  ...       NaN      NaN       NaN
2217  2011-03-14     10.1049  30361800  ...       NaN      NaN       NaN
1566  2008-08-12      8.5959  42008400  ...       NaN      NaN       NaN
1341  2007-09-20      9.2771  82993200  ...       NaN      NaN       NaN
3912  2017-12-05     36.7568  28738200  ...       NaN      NaN       NaN
1543  2008-07-10      7.3476  42326800  ...       NaN      NaN       NaN
2594  2012-09-10     14.5262  19227600  ...       NaN      NaN       NaN
4324  2019-07-29     42.6670   9840700  ...       NaN      NaN       NaN
2587  2012-08-29     14.4326  13893400  ...       NaN      NaN       NaN
1127  2006-11-10     10.5104  20264100  ...       NaN      NaN       NaN
4027  2018-05-22     30.5297  13577000  ...       NaN      NaN       NaN
2490  2012-04-12     12.5511  28959800  ...       NaN      NaN       NaN
1465  2008-03-19      7.5562  48934400  ...       NaN      NaN       NaN
1202  2007-03-05      9.8950  52247600  ...       NaN      NaN       NaN
1462  2008-03-14      7.3998  63360400  ...       NaN      NaN       NaN
648   2004-12-17      7.9916  40866000  ...       NaN      NaN       NaN
1469  2008-03-26      7.7087  46754400  ...       NaN      NaN       NaN
2310  2011-07-26     10.5082  34806000  ...       NaN      NaN       NaN
1181  2007-02-01     11.1909  78768600  ...       NaN      NaN       NaN
4527  2020-05-18     37.3323  24827400  ...       NaN      NaN       NaN

[23 rows x 8 columns]

In [181]:
GM = GM_twitter.copy()
GM.head()
GM3=GM[['author id','created_at','sentiment']]
GM3['created_at']=pd.to_datetime(GM3['created_at']).dt.date
GM4= GM3.groupby(['created_at','sentiment']).nunique()
GM_twt= GM4.pivot_table(index=['created_at'],columns=['sentiment'],values='author id')
GM_twt =GM_twt.reset_index()
GM_twt =GM_twt.rename(columns ={'created_at':'date'})
GM_twt["id"] =2

yf =GMf.copy()
gm_stk = yf[['date','adj _close','volume', 'VolStat']]
gm_stk["id"] = 2
gm_stk['date']= pd.to_datetime(gm_stk['date']).dt.date
gm_fin =pd.merge(gm_stk, GM_twt, how ='inner', on=['id','date'])
gm_fin.head(100000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           date  adj _close    volume  ...  negative  neutral  positive
0    2016-01-28     24.1986  16421200  ...       1.0    442.0       4.0
1    2016-01-29     24.7156  13445800  ...       1.0      9.0       6.0
2    2016-02-18     24.2070  12158600  ...       4.0     23.0       4.0
3    2016-02-19     23.9985  12362300  ...       1.0     11.0       7.0
4    2016-02-22     24.7073  12215500  ...       7.0      6.0       5.0
..          ...         ...       ...  ...       ...      ...       ...
776  2021-05-24     56.6000   8943000  ...       9.0      2.0      10.0
777  2021-05-25     56.7600  16362200  ...       4.0      9.0       5.0
778  2021-05-26     58.0800  14242700  ...       2.0     11.0       2.0
779  2021-05-27     59.7700  33843800  ...       3.0     18.0      11.0
780  2021-05-28     59.3100  12668100  ...       4.0     11.0       6.0

[781 rows x 8 columns]

In [182]:
gm_fin.describe()

       adj _close        volume     VolStat  ...    negative     neutral    positive
count  781.000000  7.810000e+02  781.000000  ...  698.000000  775.000000  773.000000
mean    34.050423  1.203828e+07    0.023249  ...    5.753582   10.270968   10.269082
std      6.833495  5.655884e+06    0.013246  ...   11.117839   23.597702   15.213082
min     20.750000  2.924200e+06    0.005188  ...    1.000000    1.000000    1.000000
25%     30.135400  8.304800e+06    0.013902  ...    2.000000    4.000000    4.000000
50%     34.211000  1.080330e+07    0.019659  ...    3.000000    7.000000    7.000000
75%     36.633800  1.434910e+07    0.028900  ...    5.000000   11.000000   11.000000
max     59.770000  4.267230e+07    0.089545  ...  147.000000  442.000000  209.000000

[8 rows x 7 columns]

In [ ]:
"""Volume Traded on one Plot"""

ax = plt.gca()
WEN.plot(x='date', y='volume',label='WEN',figsize=(16,8),title='Volume Traded', color='red', ax=ax)
PEP.plot(x='date', y='volume',label='PEP',color='blue', ax=ax)
SBUX.plot(x='date', y='volume',label='SBUX',color='orange',ax=ax)
PZZA.plot(x='date', y='volume',label='PZZA',color='green', ax=ax)
CMCSA.plot(x='date', y='volume',label='CMCSA',color='black', ax=ax)
NFLX.plot(x='date', y='volume',label='NFLX', color='yellow', ax=ax)
WMT.plot(x='date', y='volume',label='WMT', color='pink', ax=ax)
GM.plot(x='date', y='volume',label='GM',color='gray', ax=ax)
UBER.plot(x='date', y='volume',label='UBER', color='red', ax=ax)
plt.legend();

In [ ]:
"""Volume traded by company"""

WEN.plot(x='date', y='volume',label='WEN',figsize=(16,8),title='Volume Traded', color='red')
PEP.plot(x='date', y='volume',label='PEP', figsize=(16,8),color='blue')
SBUX.plot(x='date', y='volume',label='SBUX',figsize=(16,8),color='orange')
PZZA.plot(x='date', y='volume',label='PZZA',figsize=(16,8),color='green', )
CMCSA.plot(x='date', y='volume',label='CMCSA',figsize=(16,8),color='black')
NFLX.plot(x='date', y='volume',label='NFLX',figsize=(16,8), color='yellow')
WMT.plot(x='date', y='volume',label='WMT',figsize=(16,8), color='pink')
GM.plot(x='date', y='volume',label='GM',figsize=(16,8),color='gray')
UBER.plot(x='date', y='volume',label='UBER',figsize=(16,8), color='red')
plt.legend();

In [ ]:
"""Adjusted_Close values by company"""
WEN.plot(x='date', y='adj _close',label='WEN',figsize=(16,8),title='Adjusted Close')
PEP.plot(x='date', y='adj _close',label='PEP',figsize=(16,8),color='blue')
SBUX.plot(x='date', y='adj _close',label='SBUX',figsize=(16,8),color='blue')
PZZA.plot(x='date', y='adj _close',label='PZZA',figsize=(16,8))
CMCSA.plot(x='date', y='adj _close',label='CMCSA',figsize=(16,8))
NFLX.plot(x='date', y='adj _close',label='NFLX',figsize=(16,8))
WMT.plot(x='date', y='adj _close',label='WMT',figsize=(16,8))
GM.plot(x='date', y='adj _close',label='GM',figsize=(16,8))
UBER.plot(x='date', y='adj _close',label='UBER',figsize=(16,8))
plt.legend();

In [ ]:
"Estimated Volatile by company"
WEN.plot(x='date', y='VolStat',label='WEN',figsize=(20,8),title='Volatily Measure')
PEP.plot(x='date', y='VolStat',label='PEP',figsize=(20,8))
SBUX.plot(x='date', y='VolStat',label='SBUX',figsize=(16,8))
PZZA.plot(x='date', y='VolStat',label='PZZA',figsize=(16,8))
CMCSA.plot(x='date', y='VolStat',label='CMCSA',figsize=(16,8))
NFLX.plot(x='date', y='VolStat',label='NFLX',figsize=(16,8))
WMT.plot(x='date', y='VolStat',label='WMT',figsize=(16,8))
GM.plot(x='date', y='VolStat',label='GM',figsize=(16,8))
UBER.plot(x='date', y='VolStat',label='UBER',figsize=(16,8))
plt.legend();